
//- Document head
//- ============
//- The heading for all pages

//- Includes
include ../_vars/_global-vars
block pageVars

<?php require_once( 'couch/cms.php' ); ?>
<cms:editable name='group_meta' label='Meta' desc='Page meta information' type='group'></cms:editable>

<!DOCTYPE html>
<html lang="en">
<head>
	// Primary meta
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no">
	title <cms:editable name='meta_title' label='Page Title' desc='Page title used for meta and OG' group='group_meta' type='text'></cms:editable>
	<link rel="author" href="humans.txt">
	<link rel="canonical" href="#">
	// DNS Prefetch
	<link rel="dns-prefetch" href="http://fonts.googleapis.com/">
	// Meta, OG, Twitter, Apple
	<meta name="description" content="<cms:editable name='meta_description' label='Page Description' desc='Page description used for meta and OG' group='group_meta' type='text'></cms:editable>">
	<meta property="article:author" content="#{siteAuthor}">
	<meta name="robots" content="index, follow">
	<meta name="theme-color" content="#{brand}">
	<meta property="fb:app_id" content="123456789">
	<meta property="og:url" content="#{siteURL}">
	<meta property="og:type" content="website">
	<meta property="og:title" content="<cms:editable name='meta_title' label='Page Title' desc='Page title used for meta and OG' group='group_meta' type='text'></cms:editable>">
	<meta property="og:description" content="<cms:editable name='meta_description' label='Page Description' desc='Page description used for meta and OG' group='group_meta' type='text'></cms:editable>">
	<meta property="og:site_name" content="#{siteName}">
	<meta property="og:locale" content="en_UK">
	block shareImage
		<cms:hide>
		<cms:editable name="meta_image" group="group_meta" label="Meta image" type="image"></cms:editable>
		</cms:hide>
		<meta property="og:image" content="<cms:show meta_image />">
		<meta name="twitter:image" content="<cms:show meta_image />">
	<meta name="twitter:card" content="summary">
	<meta name="twitter:site" content="@site_account">
	<meta name="twitter:creator" content="@individual_account">
	<meta name="twitter:url" content="#{siteURL}">
	<meta name="twitter:title" content="<cms:editable name='meta_title' label='Page Title' desc='Page title used for meta and OG' group='group_meta' type='text'></cms:editable>">
	<meta name="twitter:description" content="<cms:editable name='meta_description' label='Page Description' desc='Page description used for meta and OG' group='group_meta' type='text'></cms:editable>">
	<meta name="apple-mobile-web-app-title" content="<cms:editable name='meta_title' label='Page Title' desc='Page title used for meta and OG' group='group_meta' type='text'></cms:editable>">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="default">
	<!-- build:css style/style.css -->
	<!-- bower:css -->
	<!-- endbower -->
	<link rel="preload" href="style/style.css" as="style" onload="this.rel='stylesheet'">
	<noscript><link rel="stylesheet" href="style/style.css"></noscript>
	<!-- endbuild -->
	<link rel="apple-touch-icon" sizes="76x76" href="img/brand/favicons/apple-touch-icon.png?v=6">
	<link rel="icon" type="image/png" href="img/brand/favicons/favicon-32x32.png?v=6" sizes="32x32">
	<link rel="icon" type="image/png" href="img/brand/favicons/favicon-16x16.png?v=6" sizes="16x16">
	<link rel="manifest" href="img/brand/favicons/manifest.json?v=6">
	<link rel="mask-icon" href="img/brand/favicons/safari-pinned-tab.svg?v=6" color="#{brand}">
	<link rel="shortcut icon" href="img/brand/favicons/favicon.ico?v=6">
	<meta name="apple-mobile-web-app-title" content="app_name">
	<meta name="application-name" content="app_name">
	<meta name="msapplication-TileColor" content="#{brand}">
	<meta name="msapplication-config" content="img/brand/favicons/browserconfig.xml?v=6">
	
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-107949728-1"></script>
	<script>
	| window.dataLayer = window.dataLayer || [];
	| function gtag(){dataLayer.push(arguments);}
	| gtag('js', new Date());
	| gtag('config', 'UA-107949728-1');
	</script>
	</head>

body(class=(bodyClass || ""))
	block content
